.category_wrap {}
.category_wrap ul {display: flex; align-items: center; justify-content: center; gap: 30px;}
.category_wrap ul li a {background: #f6f6f6; border-radius: 100px; padding: 5px 25px; font-size: 20px; white-space: nowrap;}
.category_wrap ul li a:hover {background: #f4e1d2;}
.category_wrap ul li.active a {background: #f4e1d2;}

@media (max-width: 768px) {
  .category_wrap ul {gap: 14px;}
  .category_wrap ul li a {padding: 10px 46px; font-size: 18px;}
}

@media (max-width: 480px) {
  .category_wrap ul {gap: 8px;}
  .category_wrap ul li a {padding: 11px 40px; font-size: 16px;}
}

@media (max-width: 380px) {
  .category_wrap ul {gap: 6px;}
  .category_wrap ul li a {padding: 11px 34px; font-size: 15px;}
}